mixin renderDevice(doc, subscription)
    div.device
        p.status Status: #{doc.status}
        p.platform Platform: #{doc.platform}
        p.platform-id Platform ID: #{doc.platform_id}
        p.imei Status: #{doc.imei}
        p.iccid Status: #{doc.iccid}
        p.manufacturer Status: #{doc.manufacturer}
        p.model Status: #{doc.model}